.users-inner {
  height: 450px;
  padding-right: 10px;
  overflow-y: scroll;
}

.users-item {
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  position: relative;
}

.users-item:nth-child(odd) {
 background-color: var(--elem-odd-bgc);
}

.users-item:nth-child(even) {
  background-color: var(--elem-even-bgc);
}

#edit {
  position: absolute;
  top: 8px;
  right: 40px;
  padding: 4px;
  border: solid 1px var(--main-col);
}

#delete {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  border: solid 1px var(--main-col);
}



