* {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --main-bgc: rgb(76, 97, 105);
  --main-col: white;
  --elem-bgc: rgb(194, 197, 201);
  --btn-bgc: rgb(58, 69, 74);
}

body {
  color: var(--main-col);
  background-color: var(--main-bgc);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}
.container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.content {
  padding: 15px;
  width: 65%;
  max-width: 600px;
  min-width: 400px;
  user-select: none;

  border: solid 2px white;
  /* background: linear-gradient(rgb(68, 96, 235), rgb(226, 236, 87)) */
}

.header-inner {
  display: flex;
  flex-flow: row nowrap;
}

.header-item {
  padding: 7px 14px;
  letter-spacing: 1px;
  color: rgb(47, 186, 246);
  background-color: var(--btn-bgc);
  border: solid 2px rgb(47, 186, 246);
}

.button-add {
  min-height: 60px;
}

.home {
  height: 400px;
}




