* {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 1px;
}

:root {
  --main-bgc: rgb(76, 97, 105);
  --main-col: white;
  --header-col: rgb(47, 186, 246);
  --select-col: lightgreen;
  --elem-odd-bgc: rgb(100, 112, 124);
  --elem-even-bgc: rgb(74, 88, 99);
  --btn-bgc: rgb(58, 69, 74);
}

body {
  background-color: var(--main-bgc);
}

.container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: var(--main-col);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

ul::-webkit-scrollbar {
  width: 7px;              
}

ul::-webkit-scrollbar-track {
  background: var(--elem-odd-bgc);
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--btn-bgc);    
  border-radius: 20px;       
}

.content {
  padding: 15px;
  width: 70%;
  max-width: 600px;
  min-width: 400px;
  user-select: none;

  border: solid 1px var(--main-col);
}

.header-inner {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

.header-item {
  padding: 7px 14px;
  color: var(--header-col);
  background-color: var(--btn-bgc);
  border: solid 2px var(--elem-odd-bgc);
}

.selected {
  color: var(--select-col);
  /* border: solid 2px lightgreen; */
}

.albums-inner {
  height: 450px;
  margin-top: 80px;
  padding-right: 10px;
  overflow-y: scroll;
}

.albums-item {
  margin-bottom: 10px;
  padding: 10px 5px 10px;
}

.albums-item:nth-child(odd) {
 background-color: var(--elem-odd-bgc);
}

.albums-item:nth-child(even) {
  background-color: var(--elem-even-bgc);
}





