.albums-inner {
  height: 450px;
  margin-top: 70px;
  padding-right: 10px;
  overflow-y: scroll;
}

.albums-item {
  margin-bottom: 10px;
  padding: 10px 5px 10px;
}

.albums-item:nth-child(odd) {
 background-color: var(--elem-odd-bgc);
}

.albums-item:nth-child(even) {
  background-color: var(--elem-even-bgc);
}


